**/*B_Even_Numbers.exe
**/*C_Even_Odd_Positive_and_Negative.exe
**/*D_Fixed_Password.exe
**/*D_Fixed_Password.bin
**/*E_Max.exe
**/*E_Max.bin
**/*min.exe
**/*F_Multiplication_table.exe
**/*F_Multiplication_table.bin 
**/*Q_Digits.exe
**/*Q_Digits.bin
/.cph