**/*A_Summation.exe
**/*A_Summation.bin
**/*B_Searching.exe
**/*B_Searching.bin
**/*C_Replacement.exe
**/*C_Replacement.bin
**/*D_Positions_in_array.bin
**/*E_Lowest_Number.bin
**/*E_Lowest_Number2.bin
**/.cph